#configurator_shopify{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  gap:20px;
}

#configurator_canvasProduct_thumbnails{
width:100%;
}

#configurator_canvasProduct_thumbnails ul{
list-style:none;
margin:0;
padding:0;
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
}

#configurator_canvasProduct_thumbnails li{
width:100px;
height:100px;
background-size:contain;
cursor:pointer;
}

#configurator_canvasProduct{
  /* min-width: 299px;
  min-height: 414px; */
  margin: 50px auto;
  perspective: 1000px;
  transition: all 0.5s ease-in-out;
}

.product__media-list, .thumbnail-slider{
  display:none;
}

.price-native-cnt{
  display:none!important;
}

#configurator_canvasProduct.s13x18{
    width: 202px;
    height: 280px;
}

#configurator_canvasProduct.s20x30{
    width: 213px;
    height: 320px;
}

#configurator_canvasProduct.s30x40{
    width: 248px;
    height: 330px;
}

#configurator_canvasProduct.s40x50{
    width: 272px;
    height: 340px;
}

#configurator_canvasProduct.s50x70{
    width: 257px;
    height: 360px;
}

#configurator_canvasProduct.s60x90{
    width: 253px;
    height: 380px;
}

#configurator_canvasProduct.s70x100{
    width: 273px;
    height: 390px;
}

#configurator_canvasProduct.s60x150{
    width: 166px;
    height: 414px;
}

#configurator_canvasProduct.s20x20{
    width: 250px;
    height: 250px;
}

#configurator_canvasProduct.s30x30{
    width: 260px;
    height: 260px;
}

#configurator_canvasProduct.s50x50{
    width: 289px;
    height: 289px;
}

#configurator_canvasProduct.s70x70{
    width: 299px;
    height: 299px;
}

#configurator_canvasProductCnt{
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateX(0deg) rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#configurator_canvasProductImg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    display:block!important;
    background-size: 90%;
    filter: drop-shadow(rgba(34, 34, 34, .37) -8px 8px 5px);
}

#configurator_canvasProduct.s20x20 #configurator_canvasProductImg{
    background-size: auto 90%;
}

#configurator_canvasProduct.s30x30 #configurator_canvasProductImg{
    background-size: auto 90%;
}

#configurator_canvasProduct.s50x50 #configurator_canvasProductImg{
    background-size: auto 90%;
}

#configurator_canvasProduct.s70x70 #configurator_canvasProductImg{
    background-size: auto 90%;
}

#configurator_canvasProductCnt.Frame #configurator_canvasProductImg{
    border:solid 10px transparent;
    filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

#configurator_canvasProductCnt.Frame.Arena #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-arena.png?v=1710791496) 20 round;
}

#configurator_canvasProductCnt.Frame.Caramelo #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-caramelo.png?v=1710871747) 20 round;
}

#configurator_canvasProductCnt.Frame.Cafe #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-cafe.png?v=1710873108) 20 round;
}

#configurator_canvasProductCnt.Frame.CafeOscuro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-cafe-oscuro.png?v=1710873107) 20 round;
}

#configurator_canvasProductCnt.Frame.Negro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-negro.png?v=1710873107) 20 round;
}

#configurator_canvasProductCnt.Frame.Blanco #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-blanco.png?v=1710873107) 20 round;
}

#configurator_canvasProductCnt.Frame.Dorado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-dorado.png?v=1710873107) 20 round;
}

#configurator_canvasProductCnt.Frame.Plateado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-plateado.png?v=1710873105) 20 round;
}

#configurator_canvasProductCnt.MariaLuisa #configurator_canvasProductImg{
    position:relative;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    border:solid 50px transparent;
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-arena-v2.png?v=1713971171) 70 round;
    filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
}

#configurator_canvasProductCnt.MariaLuisa #configurator_canvasProductImg::after{
  content:'';
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  border-top: solid 4px #5f5e5e73;
  border-left: solid 4px #5f5e5e73;
  filter: drop-shadow(#222 0px 0px 2px);
}

#configurator_canvasProductCnt.MariaLuisa.Arena #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-arena-v2.png?v=1713971171) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Caramelo #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-caramelo-v2.png?v=1713975100) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Cafe #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-cafe-v2.png?v=1713975100) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.CafeOscuro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-cafe-oscuro-v2.png?v=1713975100) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Negro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-negro-v2.png?v=1713975099) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Blanco #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-blanco-v2.png?v=1713975100) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Dorado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-dorado-v2.png?v=1713975100) 70 round;
}

#configurator_canvasProductCnt.MariaLuisa.Plateado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/maria-luisa-plateado-v2.png?v=1713975099) 70 round;
}

#configurator_canvasProductCnt.Canvas{
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    position: relative;
    /*transform: rotateX(0deg) rotateY(30deg) rotateZ(0deg);*/
    transform: rotateX(70deg) rotateY(0deg) rotateZ(-60deg);
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter:drop-shadow(rgba(34, 34, 34, 0.37) -8px 8px 9px); */
    position:relative;
}

#configurator_canvasProductCnt.Canvas:hover{
    transform: rotateX(70deg) rotateY(0deg) rotateZ(0deg);
}

#configurator_canvasProductCnt.Canvas #configurator_canvasProductImg{
    filter: none;
}


#configurator_canvasProductCnt.Canvas::before,
#configurator_canvasProductCnt.Canvas::after {
content: '';
position: absolute;
bottom: 10px;
width: 40%;
height: 10px;
box-shadow: 0 5px 14px rgba(0,0,0,.7);
z-index: -1;
transition: all .3s ease-in-out;
}

#configurator_canvasProductCnt.Canvas::before {
left: 15px;
transform: skew(-5deg) rotate(-5deg);
}

#configurator_canvasProductCnt.Canvas::after {
right: 15px;
transform: skew(5deg) rotate(5deg);
}

#configurator_canvasProductCnt.Canvas:hover::before,
#configurator_canvasProductCnt.Canvas:hover::after {
box-shadow: 0 2px 14px rgba(0,0,0,.4);
}

#configurator_canvasProductCnt.Canvas:hover::before {
left: 5px;
}

#configurator_canvasProductCnt.Canvas:hover::after {
right: 5px;
}

#configurator_canvasProductCnt.Canvas #configurator_canvasProductImg{
    background-color: transparent;
}

#configurator_canvasProductCnt.CanvasTensado #configurator_canvasProductImg{
    background-size: cover;
    background-position: center;
}
#configurator_canvasProductCnt.CanvasTensado{
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    width: fit-content;
    height: fit-content;
    position: relative;
    transform: rotateX(0deg) rotateY(30deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f5e9;
    filter:drop-shadow(rgba(34, 34, 34, 0.37) -8px 8px 9px);
}

#configurator_canvasProductCnt.CanvasTensado::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #7978786b;
    width: 20px;
    height: 100%;
    transform: perspective(1000px) rotateX(0) rotateY(-30deg) translateZ(6px) translateY(2px);
}

#configurator_canvasProductCnt.CanvasTensadoFrame #configurator_canvasProductImg{
    max-height: 84%;
    border:solid 15px transparent;
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/canvas-tensado-frame_2637bde6-50da-4cd5-8035-ff7861938bf4.png?v=1710793392) 25 round;
    filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Arena #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/canvas-tensado-frame_2637bde6-50da-4cd5-8035-ff7861938bf4.png?v=1710793392) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Caramelo #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-caramelo.png?v=1712687369) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Cafe #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-cafe.png?v=1712688354) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.CafeOscuro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-cafe-oscuro.png?v=1712688355) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Negro #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-negro.png?v=1712688354) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Blanco #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-blanco.png?v=1712688354) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Dorado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-dorado.png?v=1712688354) 25 round;
}

#configurator_canvasProductCnt.CanvasTensadoFrame.Plateado #configurator_canvasProductImg{
    border-image: url(https://cdn.shopify.com/s/files/1/0838/8866/8990/files/canvas-tensado-frame-plateado.png?v=1712688354) 25 round;
}

.configurator_mainImageStyleDefault{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height:100%;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_mainImageStyleWithFrame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height:90%;
  border:solid 10px transparent;
  border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/frame-arena.png?v=1710791496) 10 round;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_mainImageStyleWithMariaLuisa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height:90%;
  border:solid 80px transparent;
  border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/maria-luisa-arena.png?v=1710791776) 80 round;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_mainImageStyleCanvasOnly{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height:80%;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_mainImageStyleCanvasTensado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: perspective(900px) rotateY(55deg) translate(-50%, -50%);
  width:auto;
  height:60%;
  border:25px solid transparent;
  border-image: url(http://127.0.0.1:5500/images/frames/canva_blanco.jpg) 25 round;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_mainImageStyleCanvasTensadoFrame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:auto;
  height:90%;
  border:solid 25px transparent;
  border-image: url(https://cdn.shopify.com/s/files/1/0686/9106/7109/files/canvas-tensado-frame_2637bde6-50da-4cd5-8035-ff7861938bf4.png?v=1710793392) 25 round;
  filter:drop-shadow(rgba(34, 34, 34, 0.37) 8px 8px 5px);
  transition: all 0.5s ease-in-out;
}

.configurator_options{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.configurator_alternative_price{
  font-size:1.8rem;
  font-weight:500;
  color:#000;
}

.configurator_chooseFrame{
  position:relative;
  width: 339px;
  height: 78px;
}

.configurator_chooseFrame_cnt{
  position:absolute;
  top:0;
  left:0;   
  border:none;
  width: 339px;
  height: 78px;
  overflow:hidden;
}

.configurator_chooseFrame_slider{
  position:absolute;
  top:0;
  left:0;
  display:flex; 
  flex-direction: row; 
  gap:20px;
  transition: all 0.5s linear;
}

.configurator_chooseFrame_next{
  position:absolute;
  top:50%;
  right:-20px;
  width:15px;
  height:24px;
  transform:translate(0,-50%);
  cursor:pointer;
}

.configurator_chooseFrame_prev{
  position:absolute;
  top:50%;
  left:-20px;
  width:15px;
  height:24px;
  transform:translate(0,-50%);
  cursor:pointer;
}

.configurator_box3d{
  display:none;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%) rotateY(30deg) rotateX(30deg); 
  width: 490px; 
  height: 617px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.configurator_btnFrame{
  cursor:pointer;
  display: flex;
justify-content: center;
align-items: center;
}

.configurator_btnFrame_img{
  width: 70px; 
  height:70px; 
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.5s linear;
}

.configurator_btnFrame.selected .configurator_btnFrame_img{
  border: solid 2px #222;
}

.configurator_chooseColor{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:10px;
  margin:20px 0;
}

#configurator_chooseColor_list_cnt{
position:relative;
}

.configurator_chooseColor_label{
position:absolute;
top:30px;
left:0;
font-size:12px;
font-weight: 600;
transition: all 0.3s linear;
transform: translate(0px, 0px);
opacity:0;
}

.configurator_chooseColor_ul{
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:5px;
}

.configurator_chooseColor_ul li{
  display:none;
}

.configurator_chooseColor_ul li.no-color{
  display:block;
}

.configurator_chooseColor_btnColor{
  display:block; 
  cursor: pointer;
  width: 24px; 
  height:24px; 
  border-radius: 12px; 
  background-color: #F0DFD3;
}

.configurator_sizeguide{
  width:100%;
}

.configurator_sizeguide_link{
  font-size: 12px;
  color: #62a0d5;
  text-decoration: underline;
  cursor:pointer;
}

/*CUSTOMIZE ADD TO CART BUY NOW*/
.product-form__submit,.shopify-payment-button{
  display:none;
}

.configurator_addToCartBtn{
  text-align:center;
  color:#6c6737;
  padding:20px 0;
  cursor:pointer;
}

.configurator_buyNowBtn{
  text-align:center;
  color:#FFF;
  padding:20px 0;
  cursor:pointer;
  background-color:#6c6737;
  padding:9px 0;
}